.logo{
    width: 310px;
    max-width:100%;
    background-color: #674f4f;
    color: white;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
